.page-list {
    .row-1 {width: 100%;}
}
.product-list-banner.discount {
    display: none;
}
.product-list-discount {
    height: 300px;
    background-size: 100% 100%;
    background-position: center;
    a {
        /*display: inline-flex;
        height: 100%;
        width: 100%;
        align-content: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 32px;*/
        h3 {
            width: 100%;
            font-size: 70px;
            color: #213766;
            letter-spacing: 2.8px;
            margin: 0px 0px 43px 0px;
            small {
                display: block;
                font-size: 23px;
                letter-spacing: 2.3px;
            }
        }
        span {
            width: 100%;
            border: solid 0.5px #213766;
            min-height: 30px;
            line-height: 30px;
            color: #213766;
        }
    }
}
.dortlu .ems-prd-list .ems-inline li.ems-prd {
    .product-list-discount {
        a {
            
            h3 {
                letter-spacing: 0px;
            }
        }
    }
}

.catImg { 
    position:relative;
    display:none !important;
    background-size: $bgCover;
    background-position: center center;
    height: 330px;
    overflow: hidden;
    img{
        vertical-align: middle;
        width: 100%;
        visibility: hidden;
    }
    .catBanner {
        position:absolute !important;
        @include vAlign;
        text-align: center;
        left: 0;
        right: 0;
        .catContent {
            display:inline-block;
            padding: 0 20px;
            span {
                font-size:40px;
                color:$colorWhite;
                font-family: $fontBold;
                letter-spacing: 4px;
            }
        }
    }
}
.catImg:last-child {
    display:block;
}
.ems-cat-desc {
    .ems-cat-inline {
        padding: 30px 0 30px 20px;
        text-align: left;
        p{
            font-size: 16px;
            color: #9b9b9b;
            margin: 0;
            max-width: 90%;
        }
    }   
}

.popup.popup-sort{
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100% - 220px);
    bottom: -100%;
    background: $colorWhite;
    transition: bottom 0.32s ease;
    will-change: bottom;
    z-index: 20;
    .title-mini{
        display: none;
    }
    .popup-header{
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 20px;
        right: 20px;
        display: none;
        @include transition(all 0.32s ease);
        a.btn-close{
            float: left;
            width: 30px;
            height: 30px;
            .icon-ico_close{
                display: inline-block;
                width: 30px;
                height: 30px;
                font-size: 30px;
                display: inline-block;
            }
            .icon-ico_close:before{
                color: $colorDefault;
                font-size: 30px;
            }
        }
        b{
            display: none;
            font-size: 20px;
            letter-spacing: 1.6px;
            color: $colorWhite;
        }
    }
    .popup-body{
        position: absolute;
        width: 100%;
        height: 100%;
        ul.lvl1{
            position: absolute;
            width: 100%;
            height: calc(100% - 35px);
            overflow: auto;
            margin: 20px 0 35px 0;
            padding:30px 30px;
            li{
                a{
                    padding: 15px 0 15px 0;
                    display: block;
                    border-bottom: 1px solid rgba(0,0,0,.5);
                    span{
                        font-size: 16px;
                        line-height: 1;
                        display: block;
                        letter-spacing: 3px;
                        &:before{
                            content: "";
                            width: 15px;
                            height: 15px;
                            float: left;
                            margin-right: 20px;
                            border-radius: 100%;
                            background: $colorDefault;
                        }
                    }
                }
            }
            li.selected{
                a{
                    span{
                        &:before{
                            background: #213766;
                        }
                    }
                }
            }
        }
    }    
}

.ems-prd-list {
    .ems-inline {
        .ems-prd {
            width: none;
            max-width: none;
            min-height: 150px;
            * {transition: all 0.32s ease;}
            a {text-decoration: none;}
            &-inner {
                position: relative;
                margin: 0 10px 50px 10px;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                height: calc(100% - 50px);
            }&-wrp{
                position: relative;
                overflow: hidden;
            }
            &-image {
                a, img {
                    display: block;
                }
                img{
                    margin: 0 auto;
                    max-width: 260px;
                    width: 100%;
                }
            }
            &-name {
                font-size: 16px;
                line-height: 1.5;
                margin-top: 15px;
                overflow: hidden;
                font-stretch: normal;
                font-weight: 300;
                font-family: $fontLight;
                > a {
                    max-width: 260px;
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                }
            }
            &-description {
                margin-top: 10px;
                color: $colorDefault;
                display: none;
            }
            &-price {
                position: relative;
                line-height: 1;
                max-width: 260px;
                margin: 0 auto;
                text-align: center;
                > span {
                    display: inline-block;
                    vertical-align: middle;
                    > div{
                        display: flex;
                        font-size: 18px;
                        align-items: center;
                        color: #294AB0;
                        &::after{
                            font-family: $fontTL;
                            font-size: 15px;
                            content: 't';
                            display: none;
                        }
                        .pb1 {display: block;}
                        &.urunListe_brutFiyat {color: $colorDefault;}
                    }
                }
                &-first {
                    font-size: 15px;
                    > div{
                        text-decoration: line-through;
                        font-size: 14px !important;
                    }
                    color: #9b9b9b;
                    + span {
                        font-family: $fontMedium;
                    }
                    &:not(:empty) + span {
                        color: #294AB0;
                        margin-left: 10px;
                    }
                }
                &-selling {
                    font-size: 15px;
                    .pb1 {
                        font-size: 17px;
                    }
                }
            }
            .listeGrup {
                display: none;
            }
            &-compare {
                display: none;
                float: right;
                margin-top: -15px;
                > * {vertical-align: middle;}
                > span {
                    display: inline-block !important;
                    margin-left: 5px;
                    font-weight: 700;
                    }
            }
            &-btn-detail {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 25px;
                height: 25px;
                display: none;
                a {
                    display: block;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    i{
                        width: 25px;
                        height: 25px;
                        font-size: 25px;
                        display: block;
                        &:before {
                            color: $lightBlue;
                            font-size: 25px;
                        }
                    }
                }
            }
            &-icons {
                width: 100%;
                text-align: center;
                position: relative;
                height: 30px;
                position: absolute;
                top: 0px;
                right: 0px;
                > div {
                    max-width: 260px;
                    margin: 0 auto;
                    position: absolute;
                    height: 30px;
                    width: 100%; 
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    span{
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.38;
                        color: $colorWhite;
                    }
                }
                .urunListe_yeniUrun{
                    z-index: 3;
                    display: none;
                }
                .ems-dicsount-wrp {
                    z-index: 4;
                    .urunListe_pnlIndirimOran {
                        display: inline-block !important;
                        float: left;
                        background-color: #3561be;
                        padding: 1px 6px;
                    }
                    .urunListe_indirimUyari {
                        display: none;
                    }
                }
                .urunListe_urunStokUyari {
                    z-index: 2;
                    display: none;
                }
                .listSticker {
                    text-align: left;
                }
            }
            &.discount {
                display: inline-block;
            }
        }
    }
    &-sort {
        &:after {
            content: '\e902';
            font-family: 'icomoon';
            font-size: $fontSizeDefault;
            color: $colorDefault;
            @include vAlign;
            margin-right: 10px;
            font-weight: bold;
        }
        select {
            padding: 0;
            border: 0;
            height: 35px;
            line-height: 35px;
            background: transparent;
            max-width: 175px;
        }
    }
    &-paging {
        table td {
            width: 100% !important;
            &[align="left"], &[align="right"], .urunPaging_btnKiyaslama, .urunPaging_paging, .lastPage, .firstPage {
                display: none !important;
            }
        }
        .urunPaging_pageNavigation {
            position: relative;
            width: 100%;
            margin: 30px auto;
            padding: 10px;
            border-style: solid;
            border-width: 1px 0 1px 0;
            border-color: rgba(151,151,151,0.5);
            span[id$="lblPaging"] {
                display: block;
                float: right;
                .paging {
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px;
                    font-size: $fontSizeDefault;
                    color: $colorDefault;
                    > span {
                        display: block;
                    }
                }
                span.paging {
                    color: #9b9b9b;
                }
            }
            [id$="lnkPrev"], [id$="lnkNext"] {
                position: absolute;
                top: 50%;
                margin-top: -22.5px;
            }
            [id$="lnkPrev"] {
                left: 0;
            }
            [id$="lnkNext"] {
                right: 0;
            }
            a.tumunuGoster{
                display: inline-block !important;
                float: left;
                padding:10px;
                span{
                    font-size: $fontSizeDefault;
                    font-family: $fontDefault;
                    @include transition(all 0.2s ease);
                }
            }
            a.tumunuGoster:hover{
                span{color: $lightBlue;}
            }
            &:before, &:after{
                width: 100%;
                display: table;
                height: 0;
                font-size: 0;
                clear: both;
                content: '';
            }
        }
    }
    &-count {
        display: none;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        b {
            display: block;
            font-size: 110px;
            font-weight: 200;
            margin-bottom: 15px;
        }
        .row-3 & {
            display: block;
        }
        > ul {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.ems-prd-list .ems-inline .ems-prd-name,
.ems-prd-list .ems-inline .ems-prd-price {width: 100%;}
.ems-prd-list .ems-inline .ems-prd-name {height: 50px;}

/*Hızlı arama*/
.page-list{
    .pageArama, .tableArama, .tblBtnAraIptal, .tableTitleArama{
        display: none;
    }
    .ems-inline-center{
        padding-top: 60px;
    }
    span[id$="lbfURN_URUNYOK"] {
        > div{
            > span{
                display: block;
                padding-bottom: 40px;
                font-size: 40px;
                font-family: $fontMedium;
            }
            a.btnHomeBack{
                width: 100%;
                max-width: 260px;
            }
        }
    }
    .row{
        width: 100%;
    }
    .mobile-filter{
        display: none;
        > a{
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            text-align: center;
            padding: 10px 20px;
            position: relative;
            span{
                font-size: 16px;
                display: inline-block;
                vertical-align: middle;
            }
            i{
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            i,i:before{
                font-size: 20px;
                color: $colorDefault;
            }
        }
        > a.mobile-filter-popup{border-right: solid 1px #e5e5e5;}   
    }

    /* Ürün Liste Gösterim */
    .gosterim {width: 325px;
        span {
            font-size:$fontSizeDefault;
            color:$colorDefault;
            float: left;
            margin-right:50px;
        }
        ul {
            float:right;
            margin: 2px 30px 2px 0;
            li {
                float:left; 
                width:auto !important;
                a { 
                    width:29px; 
                    height:12px; 
                    display:block; 
                    margin-right:20px;
                    transition: none;
                }
            }
            li:last-child {
                a{ margin: 0;}
                }
            li.ikili {
                a {
                    background:url(#{$baseHref + "/images/frontend/listView.png"}) 0px 0px no-repeat;
                    &:hover {background-position: 0 -12px;}
                }
                &.selected a {background-position-y: -12px;}
            }

            li.uclu {
                a {
                    width: 46px;
                    background:url(#{$baseHref + "/images/frontend/listView.png"}) -34px 0px no-repeat;
                    &:hover {background-position: -34px -12px;}
                }
                &.selected a {background-position-y: -12px;}
            }
            li.dortlu {
                a {
                    width: 63px;
                    background:url(#{$baseHref + "/images/frontend/listView.png"}) -17px 0px no-repeat;
                    &:hover {background-position: -17px -12px;}
                }
                &.selected a {background-position-y: -12px;}
            }
        }
    }
    .row-main-cat{
        display: none;
    }
    .col-1 {
        width:225px;
        float:left;
        position: relative;
        min-height: 150px;
        .col-1-inner {
            max-width:225px;
            &.fixed{
                position: fixed;
            }
        }
    }
    .col-2 {
            width: calc(100% - 225px);
            padding-left: 150px;
            padding-bottom: 50px;
            display: block;
            float: right;
        .urnList {text-align:center;}
        .ems-prd-list {
            max-width: 100%;
            width: 100%;
            display: inline-block;
            .ems-prd-list-sort {
                display:none;
            }
        }
    }
    .row-2 {
        width:100%;
        background: #f4f4f4;
        display: inline-block;
        padding: 9px 0;
        .ems-left {
            width: 50%;
        }
        .ems-right {
            width: 50%;
            text-align: right;
            padding: 5px 0;
            -ms-flex-pack: space-between;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            > div {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .mobile-filter-control{
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 20px;
        right: 20px;
        display: none;
        @include transition (all 0.32s ease);
        a.mobile-filter-btn {
            display: block;
            width: 30px;
            height: 30px;
            i.icon-ico_close{
                color: #000;
                font-size: 30px;
                width: 30px;
                height: 30px;
                display: inline-block;
                &:before{
                    font-size: 30px;
                }
            }
        }
    }
}

/* List View */

.ikili .ems-prd-list .ems-inline li.ems-prd {
    width:50%;
}
.uclu .ems-prd-list .ems-inline li.ems-prd {
    width: calc((100% / 3) - 15px);
    margin-right: 20px;
    &:nth-child(3n) {margin-right: 0px;}
}
.dortlu .ems-prd-list .ems-inline li.ems-prd {
    width: calc(25% - 15px);
    margin-right: 20px;
    &:nth-child(4n) {margin-right: 0px;}
}

/*Ürün Slider Widget*/
.system-widget{ 
    display:none;
    width: 100%;
    max-width: 1200px;
    .swiper-title {
        h2,span {
            font-size: 20px;
            text-align: center;
            font-weight: normal;
            margin: 20px 0px;
            display: block;
            font-family: $fontBold;
            letter-spacing: 3px;
        }
    }
    .listeGrup {
        display: none;
    }
    .ems-prd-btn-detail {
        display: none;
    }
    .bx-controls {
        display: none;
    }
}
.system-widget.widget-active {
    display:block;
}
.swiper-container.system-widget {
    .swiper-inner{
        margin: 0 auto;
        .ems-prd {
            padding: 0px 10px;
            text-align: center;
            &-icons{
                width: 100%;
                text-align: center;
                height: 30px;
                position: absolute;
                top: 0px;
                right: 0px;
                .urunListe_indirimUyari {
                    display: none;
                }
                .ems-dicsount-wrp .urunListe_pnlIndirimOran {
                    display: inline-block !important;
                    float: left;
                    background-color: #3561be;
                    padding: 1px 6px;
                }
                .urunListe_urunStokUyari {
                    display: none;
                }
                > div span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.38;
                    color: #ffffff;
                }
            }
            &-name {
                font-size: 16px;
                line-height: 1.5;
                margin-top: 15px;
                overflow: hidden;
                font-stretch: normal;
                font-weight: 300;
                font-family: "PL";
                a {
                    max-width: 260px;
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                }
            }
             &-price {
                position: relative;
                line-height: 1;
                max-width: 260px;
                margin: 0 auto;
                text-align: center;
                > span {
                    display: inline-block;
                    vertical-align: middle;
                    > div{
                        display: flex;
                        font-size: 18px;
                        align-items: center;
                        &:before{
                            font-family: $fontTL;
                            font-size: 12px;
                            content: 't';
                            display: inline-block;
                            display: none;
                        }
                    }
                }
                &-first {
                    font-size: 15px;
                    color: #9b9b9b;
                    > div{
                        text-decoration: line-through;
                        font-size: 14px !important;
                    }
                    opacity: 0.4;
                    &:not(:empty) + span {
                        color: #294AB0;
                        margin-left: 10px;
                    }
                    + span {
                        font-family: "PM";
                    }
                    .pb1 {
                        display: block;
                    }
                }
                &-selling {
                    .pb1 {
                        font-size: 17px;
                        display: block;
                    }
                }
            }
        }
        .ems-prd-name, .ems-prd-price {
            text-align: center;
        }
    }
    .bx-pager{
        margin: 0;
        display: none;
    }
    .bx-controls-direction {
        > a{
            top: 50%;
            background: transparent;
            display: block;
            i:before {
                color: $colorDefault;
            }
        }
        > a.bx-prev{
            left: 0;
        }
        >a.bx-next{
            right: 0;
        }
        > a.disabled {
            display: none;
        }
    }
} 
.swiper-container.no-controls .bx-controls-direction, 
.swiper-container.no-controls .bx-pager{
    display:none;
}

@media screen and (max-width: $breakpointMD){

    .ikili .ems-prd-list .ems-inline li.ems-prd {
        width:50%;
        margin-right: 0px;
    }
    .dortlu .ems-prd-list .ems-inline li.ems-prd {
        width:50%;
        margin-right: 0px;
    }
    .uclu .ems-prd-list .ems-inline li.ems-prd {
        width:50%;
        margin-right: 0px;
    }

}

@media screen and (max-width: $breakpointSM){
    .catImg{
        height: 200px; 
        @include transition(height .32s ease);
        .catBanner {
            .catContent {
                a {
                    display: none;
                }
                span { font-size: 30px; letter-spacing: 3px;}
            }
        }
    }
    .ems-cat-desc {
        .ems-cat-inline {
            padding: 50px 40px 0 40px;
            border-top: 1px solid rgba(151, 151, 151, 0.5);
            p{
                max-width: 100%;
                line-height: 1.5; 
                color: #000000;
            }
        }
    }
    .page-list{
        .mobile-filter{ display: block; }
        .gosterim { display: none; }
        .row-2 {
            .ems-left { display: none; }
            .ems-right{
                float: none;
                width: 100%;
                padding: 0;
                display: block;
                > div { display: block; }
                .ems-prd-list-sort{ display: none; }
            } 
        }
        .ems-inline-center {
            padding-top: 30px;
        }
        .col-1 {
            padding: 0;
            float: none;
            width: 100%;
            display: none;
            .col-1-wrapper {
                position: absolute;
                width: 100%;
                height: calc(100% - 30px);
                overflow: auto;
                padding: 60px 30px 30px 30px;
            }
        }
        .col-1{
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            bottom: -100%;
            background: $colorWhite;
            @include transition(bottom 0.32s ease);
            z-index: 20;
            will-change: bottom;
            .col-1-inner {
                max-width: 100%;
            }
        }
        .col-2{
            padding: 0;
            width: 100%;
            float: none;
            .ems-prd-list{
                padding-top: 0;
            }
        }
        .row-2 {
            padding: 10px;
            background: #f9f9f9;
            border: none;
            .ems-prd-list-sort{
                display: none;
            }
        }
    }
    .ems-prd-list{
        &-paging{
            .urunPaging_pageNavigation{
                margin-top: 20px;
                margin-bottom: 20px;
                span[id$="lblPaging"]{
                    float: none;
                }
                a.tumunuGoster{
                    width: 100%;
                    text-align: center;
                    float: none;
                }
            }
        }
        .ems-inline{
            .ems-prd-btn-detail{ display: none; }
        }
    }
.filter-popup-ready {
    overflow: hidden;
    position: fixed;
    top: 0;
     .col-1{ display: block; }   
}
.filter-popup-animate {
    /*.catImg {@include setTransform(translateY(-65px)); }
    .mobile-header { @include setTransform(translateY(-65px));}*/
    .col-1{bottom: 0;}
    .mobile-filter-control{ display: block; }  
}
.sort-popup-ready {
    overflow: hidden;
    position: fixed;
    top: 0;
    .popup.popup-sort { display: block; height: 100%;}
 } 
.sort-popup-animate {
    .catImg { height: 200px; @include setTransform(translateY(-65px)); }
    .popup.popup-sort{ bottom: 0; }
    .popup.popup-sort .popup-header { display: block; z-index: 9;}
    }
    .system-widget .bx-controls {
        display: block;
    }
    .page-list .urnList {
        padding: 0px 20px;
    }
    .ems-prd-list .ems-inline .ems-prd-inner {
        margin-bottom: 20px;
        height: calc(100% - 20px);
    }
}

@media screen and (max-width: $breakpointXXS){
   
}

/*
 * combine-page
 */

 .combine-banner {
     span {
         display: block;
     }
     a {
         display: inline-block;
         border: solid 0.5px $colorWhite;
         height: 40px;
         margin-top: 25px;
         line-height: 40px;
         color: $colorWhite;
         font-size: 16px;
         letter-spacing: 1px;
         padding: 0px 25px;
     }
 }

 .page-kombin > .row-2 {
     border-bottom: 0.5px solid $colorDefault;
     background: none;
 }

 .kombin-page-list {
     display: flex;
     flex-wrap: wrap;
     margin-top: 45px;
     li {
         position: relative;
         .full-link {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
         }
         width: calc((100% / 3) - 30px);
         margin-right: 45px;
         margin-bottom: 45px;
         &:nth-child(3n) {margin-right: 0px;}
         figure {
             margin: 0px 0px 10px 0px;
             font-size: 0px;
         } 
         figcaption {
             span {
                 display: block;
                 text-align: center;
                 font-size: 13px;
                 font-family: $fontMedium;
                 margin-bottom: 9px;
                 &.button {
                     i::after {
                         content: "";
                         width: 0px;
                         border: 4px solid transparent;
                         border-left-color: $colorDefault;
                         display: inline-block;
                         margin-left: 5px;
                     }
                 }
             }
         }
     }
 }