@include fontFace('icomoon', '/styles/fonts/ico/icomoon', normal, normal);

[class^="icon-"], [class*=" icon-"], a.btnFacebookLogin:before, .adresTip2:before, #lnkAdrTip_2:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none; 
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico_all-dry-cleaner .path1:before {
  content: "\e900";
  color: rgb(1, 1, 1);
}
.icon-ico_all-dry-cleaner .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_arrow-bottom:before {
  content: "\e902";
}
.icon-ico_arrow-down:before {
  content: "\e903";
}
.icon-ico_arrow-full:before {
  content: "\e904";
}
.icon-ico_arrow-right:before {
  content: "\e905";
}
.icon-ico_arrow-top:before {
  content: "\e906";
}
.icon-ico_arrow-upper:before {
  content: "\e907";
}
.icon-ico_big-cart .path1:before {
  content: "\e908";
  color: rgb(135, 161, 211);
}
.icon-ico_big-cart .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_big-cart .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_big-cart .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_big-cart .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_big-cart .path6:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_big-cart .path7:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_big-cart .path8:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_big-cart .path9:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_big-cart .path10:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_big-cart .path11:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_big-cart .path12:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_box-down .path1:before {
  content: "\e914";
  color: rgb(1, 1, 1);
}
.icon-ico_box-down .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_box-down .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-down .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-down .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-down .path6:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-down .path7:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-down .path8:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-down .path9:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_box-down .path10:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_box-left .path1:before {
  content: "\e91e";
  color: rgb(135, 161, 211);
}
.icon-ico_box-left .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-left .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-left .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-left .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-left .path6:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_box-left .path7:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_box-left .path8:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_call:before {
  content: "\e926";
}
.icon-ico_cart:before {
  content: "\e927";
}
.icon-ico_close:before {
  content: "\e928";
}
.icon-ico_discount .path1:before {
  content: "\e929";
  color: rgb(1, 1, 1);
}
.icon-ico_discount .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_discount .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_discount .path4:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_discount .path5:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(244, 244, 244);
}
.icon-ico_discount .path6:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_discount .path7:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_discount .path8:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_dry-cleaner .path1:before {
  content: "\e931";
  color: rgb(1, 1, 1);
}
.icon-ico_dry-cleaner .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_dryer .path1:before {
  content: "\e933";
  color: rgb(1, 1, 1);
}
.icon-ico_dryer .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_dryer .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_dryer .path4:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_dryer .path5:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_dryer .path6:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_empty-box:before {
  content: "\e939";
}
.icon-ico_error .path1:before {
  content: "\e93a";
  color: rgb(134, 162, 212);
}
.icon-ico_error .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_error .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_facebook:before {
  content: "\e93d";
}
.icon-ico_fb:before {
  content: "\e93e";
}
.icon-ico_gift-last .path1:before {
  content: "\e93f";
  color: rgb(1, 1, 1);
}
.icon-ico_gift-last .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_gift-last .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_gift-last .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_gift-last .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_gift-last .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_gift-last .path7:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_hamburger:before {
  content: "\e946";
}
.icon-ico_hearth:before {
  content: "\e947";
}
.icon-ico_instagram:before {
  content: "\e948";
}
.icon-ico_ipe-hang .path1:before {
  content: "\e949";
  color: rgb(1, 1, 1);
}
.icon-ico_ipe-hang .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_ipe-hang .path3:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(3, 3, 3);
}
.icon-ico_ipe-hang .path4:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_ipe-hang .path5:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(3, 3, 3);
}
.icon-ico_ipe-hang .path6:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_ipe-hang .path7:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(3, 3, 3);
}
.icon-ico_ipe-hang .path8:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_ipe-hang .path9:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(3, 3, 3);
}
.icon-ico_ipe-hang .path10:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_iron .path1:before {
  content: "\e953";
  color: rgb(135, 161, 211);
}
.icon-ico_iron .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_iron .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron .path5:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron .path6:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_iron-medium .path1:before {
  content: "\e959";
  color: rgb(134, 162, 212);
}
.icon-ico_iron-medium .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_iron-medium .path3:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_iron-medium .path4:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path5:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path6:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path7:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path8:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path9:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path10:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path11:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path12:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path13:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path14:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path15:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path16:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path17:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path18:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path19:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path20:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path21:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path22:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(248, 234, 162);
}
.icon-ico_iron-medium .path23:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path24:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-medium .path25:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-small .path1:before {
  content: "\e972";
  color: rgb(135, 161, 211);
}
.icon-ico_iron-small .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_iron-small .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_iron-small .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path1:before {
  content: "\e976";
  color: rgb(135, 161, 211);
}
.icon-ico_latch .path2:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path3:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_latch .path4:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path5:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_latch .path6:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path7:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_latch .path8:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path9:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_latch .path10:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path11:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_latch .path12:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path13:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_latch .path14:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path15:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_latch .path16:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path17:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_latch .path18:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_latch .path19:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_latch .path20:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_man:before {
  content: "\e98a";
}
.icon-ico_maxtemp .path1:before {
  content: "\e98b";
  color: rgb(1, 1, 1);
}
.icon-ico_maxtemp .path2:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_maxtemp .path3:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_maxtemp .path4:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_maxtemp .path5:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_maxtempdry .path1:before {
  content: "\e990";
  color: rgb(135, 161, 211);
}
.icon-ico_maxtempdry .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_maxtempdry .path3:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_maxtempdry .path4:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(43, 42, 43);
}
.icon-ico_maxtemphand .path1:before {
  content: "\e994";
  color: rgb(1, 1, 1);
}
.icon-ico_maxtemphand .path2:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(43, 42, 43);
}
.icon-ico_maxtemphand .path3:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(43, 42, 43);
}
.icon-ico_maxtemphand .path4:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(43, 42, 43);
}
.icon-ico_member:before {
  content: "\e998";
}
.icon-ico_minus:before {
  content: "\e999";
}
.icon-ico_mobile-filter:before {
  content: "\e99a";
}
.icon-ico_no-dry-cleaner .path1:before {
  content: "\e99b";
  color: rgb(135, 161, 211);
}
.icon-ico_no-dry-cleaner .path2:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_no-dry-cleaner .path3:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_no-dry-cleaner .path4:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_not-found .path1:before {
  content: "\e99f";
  color: rgb(134, 162, 212);
}
.icon-ico_not-found .path2:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_pay:before {
  content: "\e9a1";
}
.icon-ico_pen:before {
  content: "\e9a2";
}
.icon-ico_plow-drying:before {
  content: "\e9a3";
}
.icon-ico_plus:before {
  content: "\e9a4";
}
.icon-ico_round .path1:before {
  content: "\e9a5";
  color: rgb(135, 161, 211);
}
.icon-ico_round .path2:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_round .path3:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_round .path4:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path1:before {
  content: "\e9a9";
  color: rgb(135, 161, 211);
}
.icon-ico_ruler .path2:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path3:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path4:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path5:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path6:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path7:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path8:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path9:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path10:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path11:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path12:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path13:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path14:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path15:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path16:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_ruler .path17:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_scroll-top:before {
  content: "\e9ba";
}
.icon-ico_search:before {
  content: "\e9bb";
}
.icon-ico_sensitive .path1:before {
  content: "\e9bc";
  color: rgb(1, 1, 1);
}
.icon-ico_sensitive .path2:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_sensitive .path3:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_sensitive .path4:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_shade-drying .path1:before {
  content: "\e9c0";
  color: rgb(135, 161, 211);
}
.icon-ico_shade-drying .path2:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_social:before {
  content: "\e9c2";
}
.icon-ico_squeeze .path1:before {
  content: "\e9c3";
  color: rgb(1, 1, 1);
}
.icon-ico_squeeze .path2:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_squeeze .path3:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_squeeze .path4:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_squeeze .path5:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-ico_store:before {
  content: "\e9c8";
}
.icon-ico_text .path1:before {
  content: "\e9c9";
  color: rgb(1, 1, 1);
}
.icon-ico_text .path2:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(244, 244, 244);
}
.icon-ico_text .path3:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_text .path4:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(244, 244, 244);
}
.icon-ico_text .path5:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_text .path6:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_text .path7:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_text .path8:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_text .path9:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_triangle:before {
  content: "\e9d2";
}
.icon-ico_trikoretilen .path1:before {
  content: "\e9d3";
  color: rgb(1, 1, 1);
}
.icon-ico_trikoretilen .path2:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_trush .path1:before {
  content: "\e9d5";
  color: rgb(134, 162, 212);
}
.icon-ico_trush .path2:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(134, 162, 212);
}
.icon-ico_trush .path3:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico_twitter:before {
  content: "\e9d8";
}
.icon-ico_washing .path1:before {
  content: "\e9d9";
  color: rgb(1, 1, 1);
}
.icon-ico_washing .path2:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_washing .path3:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_washing .path4:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_washing .path5:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(135, 161, 211);
}
.icon-ico_washing .path6:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_washing .path7:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_washing .path8:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(1, 1, 1);
}
.icon-ico_zoom:before {
  content: "\e9e1";
}

.ems-icon {
		position: relative;
    display:inline-block; 
    vertical-align:middle; 
    text-indent:-999em; 
    transition: all 0.2s ease;
	  font-size: 0px;
 	@at-root {
		.radio_buton, .radio_buton.checked { background:url(#{$baseHref + "/images/frontend/sprite.png"}) no-repeat; }
		.radio_buton {background-position:0 0; width:18px; height:18px; display: inline-block;}

    .ems-pay-info {
          .ems-icon.icon-1 {
              background:url(#{$baseHref + "/images/frontend/webe-ozel-indirim-ikon.png"}) no-repeat;
              width: 21px; height: 32px;
            }
          .ems-icon.icon-2 {
              background:url(#{$baseHref + "/images/frontend/100-tl-uzeri-kargo-ikonu.png"}) no-repeat;
              width: 28px; height: 31px;
            }
          .ems-icon.icon-3 {
              background:url(#{$baseHref + "/images/frontend/ucretsiz-iade-ve-degisim-ikonu.png"}) no-repeat; 
              width: 26px; height: 31px;
            }
          .ems-icon.icon-4 {
              background:url(#{$baseHref + "/images/frontend/14-gun-cayma-hakki-ikonu.png"}) no-repeat; 
              width: 27px; height: 32px;
            }
        }
        .ems-icon.ico_trush {
          background:url(#{$baseHref + "/images/frontend/icon_trush.png"}) no-repeat;
        }
        .ems-icon.icon-ico_ruler{
          background:url(#{$baseHref + "/images/frontend/size-ruler.png"}) no-repeat; width: 62px; height: 19px; 
        }
	  } 
}